<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @photo_tag.photo_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @photo_tag.tag_id %>
</p>

<%= link_to 'Edit', edit_photo_tag_path(@photo_tag) %> |
<%= link_to 'Back', photo_tags_path %>
